/* 
Author: Mos
Date: 2025-09-26
Version: 0.1
Project Name: Portfolio
*/

@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&display=swap');


body {
    font-family: "Cabin Sketch", sans-serif;
    font-weight: 400;
    font-style: normal;
    min-height: 100vh;
    background-color: #eee;
    transition: all 0.3s;
}

header {
    min-height: 200px;
    display: flex;
    justify-content: end;
    align-items: center;

background-color: rgb(0, 37, 75); 
/* Svart overlay med prickar */
background-image: radial-gradient(rgba(11, 63, 106, 0.7) 1px, transparent 1px);
background-size: 3px 3px; 
}

#menu {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 30px;
}
nav li a {
    font-size: 30px;
    color: #EEE;
    background-color: #000;
    height: 30px;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    text-decoration: none;/* 
    border: 1px solid #3a3a3a; */
    clip-path: ellipse();
}
nav li a:hover {
    background-color: #555;
    cursor: pointer;
}

.hero{
display: flex;
justify-content: center;
align-items: center;
min-height: 300px;
    background-color: #1c1c1c;
 padding: 1em 3em;
}

.hero h1{
    font-size: 1.9em;
    color: #EEE;
}

h3 {
    font-size: 30px;
    margin: 20px;
}
footer {
    background-color: #333;
    color: #EEE;
    text-align: center;
    font-size: 10px;
    min-height: 300px;
}

#copyright {

}
.red {
    color: red;
}
.yellow {
    color: yellow;
}
.blue {
    color: lightskyblue;
}
.purple {
    color: purple;
}
.orange {
    color: orange;
}
.numbers {
    font-size: 0.7em;
    color: #3e3e3e;
    margin-right: 5em;
}