/* 
Author: Mos
Date: 2025-09-28
Version: 0.3
Project Name: Portfolio
*/

@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&display=swap');

body {
    font-family: "Cabin Sketch", sans-serif;
    font-weight: 400;
    font-style: normal;
    min-height: 100vh;
    min-width: 100vh;
    transition: all 0.3s;
    top: 0;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    min-width: 100%;
    background-color: rgba(12, 12, 12, 0.5);
    border-bottom: 3px solid #222;
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
}
#logo {
    margin: 2em 4em;
    height: 3.5em;
    width: 3.5em;
}
#menu {
    display: flex;
    justify-content: end;
    align-items: end;
    height: 10vh;
    margin: 0em 4em;
}
nav li a {
    font-size: 1em;
    color: #EEE;
    background-color: #000;
    height: 1.8em;
    padding: 10px 10px 0 10px;
    margin: 5px;
    text-decoration: none;
    border: 2px solid #232323;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    /* clip-path: ellipse(); */
}
nav li a:hover {
    background-color: #161616;
    border: 2px solid #000;
    cursor: pointer;
}
nav li a:current {
    background-color: #222;
    cursor: pointer;
}

.hero{
    width: 100%;
    height: 50vh;
    background-color: #1c1c1c;
    padding: 1em;
    background-image: radial-gradient(rgba(50, 51, 52, 0.7) 1px, transparent 1px);
    background-size: 4px 4px;
    box-shadow: 0px 5px 45px 0px rgba(0,0,0,0.75) inset;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.hero h1{
    font-size: 1.4em;
    color: #EEE;
}
#workSection {
    position: relative;
    z-index: 10;
    background: #eee;
    padding: 2em;
    margin-top: 50vh;  
    min-height: 200vh; 
}

h3 {
    font-size: 30px;
    margin: 20px;
}
footer {
    background-color: #333;
    color: #EEE;
    text-align: center;
    font-size: 10px;
    min-height: 20vh;
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#copyright {

}
.red {
    color: red;
}
.yellow {
    color: yellow;
}
.blue {
    color: lightskyblue;
}
.purple {
    color: purple;
}
.orange {
    color: orange;
}
.numbers {
    font-size: 0.7em;
    color: #3e3e3e;
    margin-right: 3em;
}
